#### LAB 3.1

In [2]:
import pandas as pd

# 1. Đọc file stocks1.csv vào DataFrame
stocks1 = pd.read_csv('D:/17A2KHDL/LAB 3/DATA/stocks1.csv')

# 2. Hiển thị 5 dòng đầu tiên của stocks1
print("5 dòng đầu tiên của stocks1:")
print(stocks1.head())

# 3. Hiển thị kiểu dữ liệu (dtype) của mỗi cột
print("\nKiểu dữ liệu của mỗi cột trong stocks1:")
print(stocks1.dtypes)

# 4. Xem thông tin tổng quan (info) của stocks1
print("\nThông tin tổng quan về stocks1:")
print(stocks1.info())

5 dòng đầu tiên của stocks1:
       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017

Kiểu dữ liệu của mỗi cột trong stocks1:
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

Thông tin tổng quan về stocks1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

#### LAB 3.2

In [3]:
# 1. Kiểm tra dữ liệu Null
print("\nKiểm tra dữ liệu Null trong stocks1:")
print(stocks1.isnull().sum())

# 2. Thay thế Null ở cột 'high' bằng giá trị trung bình
if 'high' in stocks1.columns:
    high_mean = stocks1['high'].mean()
    stocks1['high'].fillna(high_mean, inplace=True)

# 3. Thay thế Null ở cột 'low' bằng giá trị trung bình
if 'low' in stocks1.columns:
    low_mean = stocks1['low'].mean()
    stocks1['low'].fillna(low_mean, inplace=True)

# 4. Hiển thị thông tin tổng quan để xác nhận không còn Null
print("\nThông tin tổng quan sau khi xử lý Null:")
print(stocks1.info())

Kiểm tra dữ liệu Null trong stocks1:
date      0
symbol    0
open      0
high      2
low       2
close     0
volume    0
dtype: int64

Thông tin tổng quan sau khi xử lý Null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    15 non-null     float64
 4   low     15 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 972.0+ bytes
None

C:\Users\OS\AppData\Local\Temp\ipykernel_2352\3933882324.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['high'].fillna(high_mean, inplace=True)
C:\Users\OS\AppData\Local\Temp\ipykernel_2352\3933882324.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  stocks1['low'].fillna(low_mean, inplace=True)

#### LAB 3.3

In [6]:
# 1. Đọc file stocks2.csv vào DataFrame
stocks2 = pd.read_csv('D:/17A2KHDL/LAB 3/DATA/stocks2.csv')

# 2. Gộp stocks1 và stocks2 thành DataFrame mới tên là stocks
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
print("Dữ liệu gộp từ stocks1 và stocks2:")
print(stocks.head())

# 3. Tính giá trung bình (open, high, low, close) cho mỗi ngày
gtra_tb = stocks.groupby('date')[['open', 'high', 'low', 'close']].mean()

# 4. Hiển thị 5 dòng đầu tiên của kết quả
print("\nGiá trung bình (open, high, low, close) cho mỗi ngày:")
print(gtra_tb.head())

Dữ liệu gộp từ stocks1 và stocks2:
       date symbol     open         high          low    close   volume
0  01-03-19   AMZN  1655.13  1674.260000  1651.000000  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.430000  1674.360000  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.800000  1689.010000  1692.43  3681522
3  06-03-19   AMZN  1695.97   943.511538   926.775385  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.750000  1620.510000  1625.95  4957017

Giá trung bình (open, high, low, close) cho mỗi ngày:
             open        high         low    close
date
01-03-19  684.770  692.528400  680.446000  688.952
04-03-19  693.940  702.392000  685.126000  694.510
05-03-19  695.664  656.638308  645.395077  695.558
06-03-19  696.502  548.329468  540.373077  690.016
07-03-19  689.460  691.478000  673.860000  677.494

#### LAB 3.4

In [7]:
# 1. Đọc file companies.csv vào DataFrame
companies = pd.read_csv('D:/17A2KHDL/LAB 3/DATA/companies.csv')

# 2. Hiển thị 5 dòng đầu tiên của companies
print("\nDữ liệu từ companies:")
print(companies.head())

# 3. Kết hợp stocks và companies dựa trên cột chung là 'symbol'
companies.rename(columns={"name": "symbol"}, inplace=True)
ket_hop = pd.merge(stocks, companies, on='symbol', how='inner')

# 4. Tính giá đóng cửa (close) trung bình cho mỗi công ty
gia_dong_cua_tb_cty = ket_hop.groupby('symbol')['close'].mean()

# 5. Hiển thị kết quả cho 5 công ty đầu tiên
print("\nGiá đóng cửa trung bình cho mỗi công ty:")
print(gia_dong_cua_tb_cty.head())

Dữ liệu từ companies:
   name  employees headquarters_city headquarters_state
0  AMZN     613300           Seattle                 WA
1  GOOG      98771     Mountain View                 CA
2  AAPL     132000         Cupertino                 CA
3    FB      48268        Menlo Park                 CA
4  TSLA      48016         Palo Alto                 CA

Giá đóng cửa trung bình cho mỗi công ty:
symbol
AAPL     174.674
AMZN    1671.046
FB       168.510
GOOG    1150.396
TSLA     281.904
Name: close, dtype: float64

#### LAB 3.5

In [8]:
# 1. Tạo MultiIndex cho DataFrame stocks với cột date và symbol
stocks.set_index(['date', 'symbol'], inplace=True)

# 2. Sử dụng GroupBy để tính giá trung bình (open, high, low, close) và volume trung bình cho mỗi ngày, mỗi mã chứng khoán
gia_tb = stocks.groupby(['date', 'symbol']).mean()

# 3. Sắp xếp dữ liệu theo ngày và mã chứng khoán
sap_xep = gia_tb.sort_index()

# 4. Hiển thị kết quả cho 5 ngày đầu tiên
print("Kết quả sau khi sử dụng MultiIndex và GroupBy (5 ngày đầu tiên):")
print(sap_xep.head())

Kết quả sau khi sử dụng MultiIndex và GroupBy (5 ngày đầu tiên):
                    open      high      low    close      volume
date     symbol
01-03-19 AAPL     174.28   175.150   172.89   174.97  25886167.0
         AMZN    1655.13  1674.260  1651.00  1671.73   4974877.0
         FB       162.60   163.132   161.69   162.28  11097770.0
         GOOG    1124.90  1142.970  1124.75  1140.99   1450316.0
         TSLA     306.94   307.130   291.90   294.79  22911375.0

#### LAB 3.6

In [9]:
# 1. Tạo Pivot Table với date làm chỉ mục, symbol làm cột, và giá trị trung bình của close
pivot_table = stocks.reset_index().pivot_table(
    values='close',
    index='date',
    columns='symbol',
    aggfunc='mean')

# 2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán
tong_volume = stocks.groupby('symbol')['volume'].sum()
pivot_table['Total Volume'] = tong_volume

# 3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp
sap_xep_bang_pivot = pivot_table.sort_values(by='Total Volume', ascending=False)

# 4. Hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất
print("\nPivot Table (5 mã chứng khoán có tổng volume giao dịch cao nhất):")
print(sap_xep_bang_pivot.head())

Pivot Table (5 mã chứng khoán có tổng volume giao dịch cao nhất):
symbol      AAPL     AMZN      FB     GOOG    TSLA  Total Volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN