#### bài 4.1

In [3]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

chuoi_list = pd.Series(mylist)
chuoi_arr = pd.Series(myarr)
chuoi_dict = pd.Series(mydict)

print("series tu danh sach: \n",chuoi_list)
print("series tu arr:\n",chuoi_arr)
print("series tu dict:\n",chuoi_dict)

series tu danh sach:
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
series tu arr:
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
series tu dict:
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int32

#### bai 4.2

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df=ser.reset_index()
df.columns = ['Character','Value']

df

   Character  Value
0          a      0
1          b      1
2          c      2
3          e      3
4          d      4
5          f      5
6          g      6
7          h      7
8          i      8
9          j      9
10         k     10
11         l     11
12         m     12
13         n     13
14         o     14
15         p     15
16         q     16
17         r     17
18         s     18
19         t     19
20         u     20
21         v     21
22         w     22
23         x     23
24         y     24
25         z     25

#### bai 4.3

In [5]:
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

ket_hop = pd.DataFrame({'Column1': ser1, 'Column2': ser2})
ket_hop

   Column1  Column2
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

#### bai 4.4

In [10]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

giao = ser1[ser1.isin(ser2)]
result1 = ser1.drop(giao.index)

result2 = pd.Series(list(set(ser1).symmetric_difference(set(ser2))))

print("ser1 sau khi xoa cac muc co mat trong ser2:\n",result1)
print("lay tat ca ser1 va ser2 nhung khong nam chung ca hai:\n",result2 )

ser1 sau khi xoa cac muc co mat trong ser2:
 0    1
1    2
2    3
dtype: int64
lay tat ca ser1 va ser2 nhung khong nam chung ca hai:
 0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

#### bai 4.5

In [11]:
ser = pd.Series(np.random.normal(10,5,25))

min_value = ser.min()
percentile_25 = ser.quantile(0.25)
median_value = ser.median()
percentile_75 = ser.quantile(0.75)
max_value = ser.max()

print("gia tri toi thieu:\n", min_value)
print("phan centile thu 25:\n", percentile_25)
print("trung vi:\n",median_value)
print("phan centile thu 75:\n", percentile_75)
print("gia tri toi da:\n", max_value)

gia tri toi thieu:
 1.3217443255649375
phan centile thu 25:
 3.9290276646830318
trung vi:
 9.167943033024333
phan centile thu 75:
 10.75558439910091
gia tri toi da:
 22.662377577594754

#### bai 4.6

In [ ]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

# giải thích ý nghĩa đoạn code 
#list('abcdefgh'): tạo danh sách gồm các ký tự từ a-h
#np.random.randint(8,size=30): tạo 30 số ngẫu nhiên trong khoảng từ 0-7
#np.take: lấy phần tử từ danh sách a-h dựa trên các chỉ số ngẫu nhiên
#pd.Series: tạo chuỗi pandas

#### bai 4.7

In [15]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1,5,[12]))

top_value = ser.value_counts().nlargest(2).index
result = ser.where(ser.isin(top_value),'Other')

print("ket qua sau khi thay the:\n", result)

ket qua sau khi thay the:
 0         2
1     Other
2         2
3         1
4     Other
5         1
6     Other
7     Other
8         1
9         2
10    Other
11        1
dtype: object

#### bai 4.8

In [19]:
ser = pd.Series(np.random.random(20))

phan_vi = pd.qcut(ser,10,labels=False)
result = pd.DataFrame({'Value': ser,'Phan_vi': phan_vi})

print("ket qua chia thanh 10 phan:\n", result)

ket qua chia thanh 10 phan:
        Value  Phan_vi
0   0.769463        8
1   0.773972        8
2   0.498299        4
3   0.917456        9
4   0.165865        1
5   0.249403        3
6   0.577692        6
7   0.307224        3
8   0.735705        7
9   0.166373        1
10  0.085533        0
11  0.751960        7
12  0.568924        5
13  0.953723        9
14  0.567842        5
15  0.117802        0
16  0.492886        4
17  0.698000        6
18  0.234605        2
19  0.214552        2

#### bai 4.9

In [21]:
ser = pd.Series(np.random.randint(1,10,35))

#giải thích ý nghĩa 
#np.random.randint: tạo ra 35 giá trị ngẫu nhiên từ 1-9
#các giá trị được sử dụng để tạo Series của pandas

df=pd.DataFrame(ser.values.reshape(7,5))
print('ket qua sau khi dinh hinh lai:\n',df)

ket qua sau khi dinh hinh lai:
    0  1  2  3  4
0  6  6  4  5  5
1  4  3  6  8  7
2  8  9  5  2  7
3  9  2  7  9  9
4  8  5  1  1  7
5  6  2  5  2  9
6  8  7  2  9  3

#### bai 4.10

In [41]:
ser = pd.Series(np.random.randint(1,10,7))

vi_tri = ser[ser%3==0].index
print("vi tri cac so la boi cua 3:\n", vi_tri)

vi tri cac so la boi cua 3:
 Index([6], dtype='int64')

#### bai 4.11

In [44]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
pos = [0,4,8,14,20]

result= ser.iloc[pos]
print("cac muc tai cac vi tri trong pos:\n", result)

cac muc tai cac vi tri trong pos:
 0     a
4     d
8     i
14    o
20    u
dtype: object

#### bai 4.12

In [45]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

chieu_doc = pd.concat([ser1, ser2], axis=0)
chieu_ngang = pd.concat([ser1, ser2], axis=1)

print("ket qua noi theo chieu doc:\n", chieu_doc)
print("ket qua noi theo chieu ngang:\n", chieu_ngang)

ket qua noi theo chieu doc:
 0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
ket qua noi theo chieu ngang:
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### bai 4.13

In [47]:
ser1 = pd.Series([10,9,6,5,3,1,12,8,13])
ser2 = pd.Series([1,3,10,13])

#### bai 4.14

In [51]:
truth = pd.Series(range(10))
pred = pd.Series(range(10) + np.random.random(10))

result = ((truth - pred) ** 2).mean()
print("sai so binh phuong cua 2 chuoi la:\n", result)

sai so binh phuong cua 2 chuoi la:
 0.3331799564152467

#### bai 4.15

In [52]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

chuyen_doi = ser.str.capitalize()
print("chuyen doi ki tu dau tien cua moi phan tu trong ser thanh chu viet hoa:\n", chuyen_doi)

chuyen doi ki tu dau tien cua moi phan tu trong ser thanh chu viet hoa:
 0     How
1      To
2    Kick
3    Ass?
dtype: object

#### bai 4.16

In [53]:
ser = pd.Series([1,3,6,10,15,21,27,35])
hieu = ser.diff().dropna()
print("hieu so giua cac so lien tiep:\n",hieu )

hieu so giua cac so lien tiep:
 1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

#### bai 4.17

In [59]:
ser = pd.Series(['01 Jan 2010','02-02-2011','20120303','2013/04/04','2014-05-05','2015-06-06T12:20'])
dates = pd.to_datetime(ser, errors='coerce')
dates

0   2010-01-01
1          NaT
2          NaT
3          NaT
4          NaT
5          NaT
dtype: datetime64[ns]

#### bai 4.18

In [60]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

loc_emails = emails[emails.str.contains(pattern, regex=True)]
loc_emails

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

#### bai 4.19

In [7]:
fruit = pd.Series(np.random.choice(['apple','banana','carrot'],10))
weights = pd.Series(np.linspace(1,10,10))

print(weights.tolist())
print(fruit.tolist())

df = pd.DataFrame({'Fruit': fruit, 'Weight': weights})
khoi_luong = df.groupby('Fruit')['Weight'].mean()

df
print("khoi luong trung binh tung loai qua:\n", khoi_luong)

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'apple', 'carrot', 'banana', 'apple', 'banana', 'apple', 'banana', 'apple', 'carrot']
khoi luong trung binh tung loai qua:
 Fruit
apple     5.75
banana    4.75
carrot    6.50
Name: Weight, dtype: float64

#### bai 4.20

In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('euro2012.csv')
#1. In giá trị của cột 'Goals'
print("Giá trị cột Goals: \n ",df['Goals'])

#2. Có bao nhiêu đội tham gia Euro 2012?
print("Số đội tham gia Euro 2012:\n", df['Team'].nunique())

#3. In thông tin của euro12
print("Thông in euro12: \n",df.info())

#4. Tạo DataFrame mới chỉ có 3 cột 'Team' và 'Yellow Cards' và 'Red Cards'
discipline = df[['Team', 'Yellow Cards', 'Red Cards']]
discipline

#5. Sắp xếp theo số thẻ 'Red Cards' và 'Yellow Cards'
discipline_sorted = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)
discipline_sorted

#6. a) Tình trung bình Yellow Cards
np.mean(discipline['Yellow Cards'])

# b) Lọc các đội đã ghi hơn 6 bàn thắng
teams= df[df['Goals'] > 6]
teams

#7. Tìm các đội có tên bắt đầu bằng chữ 'G'
teams_start_with_G = df[df['Team'].str.startswith('G')]
teams_start_with_G

#8. Hiển thị 7 cột đầu của DataFrame
df.iloc[:, :7]

#9. In tất cả các cột trừ 3 cột cuối
df.iloc[:, :-3]

#10. In các cột 'Team', 'Goals', 'Shooting Accuracy', 'Yellow Cards', 'Red Cards' cho các đội 'England', 'Italy', 'Russia'
selected_teams = df[df['Team'].isin(['England', 'Italy', 'Russia'])][['Team', 'Goals', 'Shooting Accuracy', 'Yellow Cards', 'Red Cards']]
selected_teams

#11. In các cột chỉ hiển thị 'Team','Shooting Accuracy' từ 'England', 'Italy', 'Russia
data_euro_index = df.set_index('Team')
data_euro_index
data_euro_index.loc[['England','Italy','Russia'],['Shooting Accuracy','Goals']]

Giá trị cột Goals:
  0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64
Số đội tham gia Euro 2012:
 16
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  16 non-null     int64
 1   Team                        16 non-null     object
 2   Goals                       16 non-null     int64
 3   Shots on target             16 non-null     int64
 4   Shots off target            16 non-null     int64
 5   Shooting Accuracy           16 non-null     object
 6   % Goals-to-shots            16 non-null     object
 7   Total shots (inc. Blocked)  16 non-null     int64
 8   Hit Woodwork                16 non-null     int64
 9   Penalty goals               16 non-null     int64
 10  Penalties not scored        16 non-null     int64
 11  Headed goals                16 non-null     int64
 12  Passes                      16 non-null     int64
 13  Passes completed            16 non-null     int64
 14  Passing Accuracy            16 non-null     object
 15  Touches                     16 non-null     int64
 16  Crosses                     16 non-null     int64
 17  Dribbles                    16 non-null     int64
 18  Corners Taken               16 non-null     int64
 19  Tackles                     16 non-null     int64
 20  Clearances                  16 non-null     int64
 21  Interceptions               16 non-null     int64
 22  Clearances off line         15 non-null     float64
 23  Clean Sheets                16 non-null     int64
 24  Blocks                      16 non-null     int64
 25  Goals conceded              16 non-null     int64
 26  Saves made                  16 non-null     int64
 27  Saves-to-shots ratio        16 non-null     object
 28  Fouls Won                   16 non-null     int64
 29  Fouls Conceded              16 non-null     int64
 30  Offsides                    16 non-null     int64
 31  Yellow Cards                16 non-null     int64
 32  Red Cards                   16 non-null     int64
 33  Subs on                     16 non-null     int64
 34  Subs off                    16 non-null     int64
 35  Players Used                16 non-null     int64
dtypes: float64(1), int64(30), object(5)
memory usage: 4.6+ KB
Thông in euro12:
 None

        Shooting Accuracy  Goals
Team
England            50.00%      5
Italy              43.00%      6
Russia             22.50%      5

#### bai 4.21

In [12]:

#1. Đọc dữ liệu từ file drinks.csv, với cột đầu tiên làm index
df = pd.read_csv('drinks.csv', index_col=0)

#Hiển thị kiểu dữ liệu (type) và kích thước (shape) của DataFrame
print("Kiểu dữ liệu:", type(df))
print("Kích thước DataFrame:", df.shape)

#Hiển thị tên các cột
print("\nTên các cột trong DataFrame:")
print(df.columns)

#Xem 5 dòng đầu và cuối của dữ liệu
print("\n5 dòng đầu:")
print(df.head())
print("\n5 dòng cuối:")
print(df.tail())

#2. Cho biết số lượng bia tiêu thụ trung bình ở mỗi châu lục
print("\nSố lượng bia tiêu thụ trung bình ở mỗi châu lục:")
print(df.groupby('continent')['beer_servings'].mean())

#3. Thống kê tổng quát về dữ liệu đồ uống (describe)
print("\nThông tin thống kê tổng quát về các loại đồ uống:")
print(df.describe())

#4. Số lượng các loại bia và rượu tiêu thụ trung bình (mean) ở mỗi châu lục
print("\nLượng tiêu thụ trung bình các loại bia và rượu ở mỗi châu lục:")
print(df.groupby('continent')[['beer_servings', 'wine_servings']].mean())

#5. Giá trị trung vị (median) của bia và rượu tiêu thụ ở mỗi châu lục
print("\nGiá trị trung vị của bia và rượu tiêu thụ ở mỗi châu lục:")
print(df.groupby('continent')[['beer_servings', 'wine_servings']].median())

#6. Thống kê lượng rượu mạnh (spirit_servings) tiêu thụ trung bình, lớn nhất và nhỏ nhất ở mỗi châu lục
print("\nLượng rượu mạnh tiêu thụ trung bình, lớn nhất và nhỏ nhất ở mỗi châu lục:")
print(df.groupby('continent')['spirit_servings'].agg(['mean', 'max', 'min']))

#7. Sắp xếp dữ liệu tăng dần theo số lượng bia tiêu thụ
df_sorted = df.sort_values(by='beer_servings', ascending=True)
print("\nDữ liệu sắp xếp theo số lượng bia tiêu thụ tăng dần:")
print(df_sorted)

#Cho biết 5 quốc gia có lượng tiêu thụ bia nhiều nhất
print("\n5 quốc gia tiêu thụ bia nhiều nhất:")
print(df.nlargest(5, 'beer_servings'))

#Cho biết 5 quốc gia có lượng tiêu thụ bia ít nhất
print("\n5 quốc gia tiêu thụ bia ít nhất:")
print(df.nsmallest(5, 'beer_servings'))

Kiểu dữ liệu: <class 'pandas.core.frame.DataFrame'>
Kích thước DataFrame: (193, 6)

Tên các cột trong DataFrame:
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

5 dòng đầu:
       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0  Afghanistan              0  ...                           0.0         AS
1      Albania             89  ...                           4.9         EU
2      Algeria             25  ...                           0.7         AF
3      Andorra            245  ...                          12.4         EU
4       Angola            217  ...                           5.9         AF

[5 rows x 6 columns]

5 dòng cuối:
       country  beer_servings  ...  total_litres_of_pure_alcohol  continent
188  Venezuela            333  ...                           7.7         SA
189    Vietnam            111  ...                           2.0         AS
190      Yemen              6  ...                           0.1         AS
191     Zambia             32  ...                           2.5         AF
192   Zimbabwe             64  ...                           4.7         AF

[5 rows x 6 columns]

Số lượng bia tiêu thụ trung bình ở mỗi châu lục:
continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64

Thông tin thống kê tổng quát về các loại đồ uống:
       beer_servings  ...  total_litres_of_pure_alcohol
count     193.000000  ...                    193.000000
mean      106.160622  ...                      4.717098
std       101.143103  ...                      3.773298
min         0.000000  ...                      0.000000
25%        20.000000  ...                      1.300000
50%        76.000000  ...                      4.200000
75%       188.000000  ...                      7.200000
max       376.000000  ...                     14.400000

[8 rows x 4 columns]

Lượng tiêu thụ trung bình các loại bia và rượu ở mỗi châu lục:
           beer_servings  wine_servings
continent
AF             61.471698      16.264151
AS             37.045455       9.068182
EU            193.777778     142.222222
OC             89.687500      35.625000
SA            175.083333      62.416667

Giá trị trung vị của bia và rượu tiêu thụ ở mỗi châu lục:
           beer_servings  wine_servings
continent
AF                  32.0            2.0
AS                  17.5            1.0
EU                 219.0          128.0
OC                  52.5            8.5
SA                 162.5           12.0

Lượng rượu mạnh tiêu thụ trung bình, lớn nhất và nhỏ nhất ở mỗi châu lục:
                 mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25

Dữ liệu sắp xếp theo số lượng bia tiêu thụ tăng dần:
            country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0       Afghanistan              0  ...                           0.0         AS
40     Cook Islands              0  ...                           5.9         OC
79             Iran              0  ...                           0.0         AS
90           Kuwait              0  ...                           0.0         AS
97            Libya              0  ...                           0.0         AF
..              ...            ...  ...                           ...        ...
135          Poland            343  ...                          10.9         EU
65          Germany            346  ...                          11.3         EU
62            Gabon            347  ...                           8.9         AF
45   Czech Republic            361  ...                          11.8         EU
117         Namibia            376  ...                           6.8         AF

[193 rows x 6 columns]

5 quốc gia tiêu thụ bia nhiều nhất:
            country  beer_servings  ...  total_litres_of_pure_alcohol  continent
117         Namibia            376  ...                           6.8         AF
45   Czech Republic            361  ...                          11.8         EU
62            Gabon            347  ...                           8.9         AF
65          Germany            346  ...                          11.3         EU
98        Lithuania            343  ...                          12.9         EU

[5 rows x 6 columns]

5 quốc gia tiêu thụ bia ít nhất:
         country  beer_servings  ...  total_litres_of_pure_alcohol  continent
0    Afghanistan              0  ...                           0.0         AS
13    Bangladesh              0  ...                           0.0         AS
40  Cook Islands              0  ...                           5.9         OC
46   North Korea              0  ...                           0.0         AS
79          Iran              0  ...                           0.0         AS

[5 rows x 6 columns]